@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';
.wrapper {
	position: relative;
	height: 754px;

	& .blockTitle {
		position: absolute;
		top: 5px;
		right: 40px;
		z-index: 20;
		width: 750px;
		padding: 36px 55px 29px 55px;
		color: $accent-green;
		margin-top: 40px;

		border-radius: 36px;
		border: 2px solid $accent-green;
		background-color: $accent-black;
	}
	& .title {
		text-align: center;
		font-size: 72px;
		font-style: normal;
		font-weight: 700;
		line-height: 84px;
	}

	& .titleYear {
		text-align: end;
		color: $accent-green;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 30px;
	}

	& .logo {
		position: absolute;
		top: 40px;
		left: 40px;
	}

	& .blockButton {
		position: absolute;
		bottom: 40px;
		right: 40px;
		z-index: 30;
	}
	& .infoBox {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 40px;
		z-index: 40;
	}
	& .blockRobot {
		position: absolute;
		bottom: 15px;
		left: 290px;
		z-index: 10;

		> img {
			width: 456px;
			height: 505px;
		}
	}
	& .blockRobotBack {
		position: absolute;
		bottom: 0;
		left: 40px;
		z-index: 5;
		animation: opacity 2.5s;

		> img {
			width: 651px;
			height: 592px;
		}
	}
}
