@import 'src/assets/styles/variables';

.wrapper {
	padding: 20px;
	border-radius: 20px;
	background: #1f2431;

	& .title {
		margin-bottom: 52px;
		color: $accent-green;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 44px;
	}

	> p {
		color: $font-grey;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}

	display: flex;
	flex-direction: column;

	> .button {
		margin-top: 20px;
		align-self: flex-end;
	}
}

.small {
	width: 460px;
	height: 115px;
}

.medium {
	width: 460px;
	height: 140px;
}

.large {
	width: 710px;
	height: 230px;
}

.mega {
	padding: 40px;
	width: 800px;
}
