@import 'src/assets/styles/variables';

.wrapper {
	text-align: center;
}

.button {
	border: none;
	outline: none;
	border-radius: 16px;
	cursor: pointer;

	height: 84px;
	padding: 16px;
	display: flex;
	align-items: center;

	transition: color 0.3s ease;

	color: $accent-green;
	background-color: rgba(20, 27, 37, 0.9);
	box-shadow: 0px 0px 8px 4px $accent-green;

	&:hover {
		color: #bfc6dc;
		outline: 2px solid #bfc6dc;
	}

	> span {
		margin-left: 16px;
		font-size: 20px;
		line-height: 48px;
		font-weight: 400;
	}
}

.min {
	width: 85px;
}

.small {
	width: 150px;
}

.medium {
	width: 180px;
}

.large {
	width: 210px;
}
