@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.wrapper {
	width: 768px;
	height: 600px;
	border-radius: 20px;
	background: $accent-black;
	position: relative;
	margin: 0 auto;

	padding: 20px;
	z-index: 100;

	animation: opacity 0.6s;

	& .title {
		color: $accent-green;
		text-align: center;
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 50px;
		text-align: left;
		margin-bottom: 15px;
	}

	& .button {
		border: none;
		outline: none;
		border-radius: 12px;
		cursor: pointer;
		background-color: transparent;
		position: absolute;
		top: 20px;
		right: 23px;

		color: #bfc6dc;

		transition: color 0.3s ease;

		&:hover {
			color: $accent-green;
		}
	}

	& .box {
		display: flex;
		justify-content: space-between;

		& .list {
			display: inline-flex;
			height: 484px;
			padding: 22px 20px;
			flex-direction: column;
			align-items: flex-start;
			border-radius: 20px;
			background: #1f2431;

			& .item {
				display: flex;
				align-items: center;
				justify-content: center;
				list-style: none;
				width: 324px;
				height: 80px;
				padding: 8px 5px;
				border-radius: 8px;
				border: 2px solid $font-grey;
				text-align: center;
				margin-bottom: 16px;
				cursor: pointer;

				color: $font-grey;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}
		}
	}

	& .card {
		width: 340px;
		height: 484px;
		border-radius: 20px;
		background: #1f2431;

		padding: 22px 25px;

		display: none;

		animation: opacity 0.8s;

		& .image {
			width: 200px;
			height: 200px;
			border-radius: 20px;
			background: $font-grey;
			text-align: center;
			margin: 0 auto;
			padding: 20px;
		}

		& .textCard {
			margin: 20px 0px 20px;
			color: $font-grey;
			text-align: center;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

.selected {
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: 2px solid $accent-green !important;
}

.selectedCard {
	display: block !important;
	border: 2px solid $accent-green !important;
}

.blockedCard {
	cursor: not-allowed;
	opacity: 0.5;
	background-color: #1f2431;
}

.blockedItem {
	border: 2px solid $accent-green !important;
}
