@import 'src/assets/styles/variables';
.wrapper {
	display: flex;
	justify-content: center;
	margin: 10px;

	& .link {
		display: flex;
		> svg,
		> p {
			cursor: pointer;
		}
	}

	& .linkText {
		color: $accent-green;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 32px;
	}
}
