@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$desktop-width: 1024px;
$desktop-height: 768px;
$mobile: 480px;

$default-font: 'Ubuntu', sans-serif;

$accent-green: #89e159;
$accent-green-light: #39f420;
$accent-grey: #bfc6dc;
$accent-red: #ff2e63;
$accent-orange: #f75940;
$accent-blue: #50c1e9;

$accent-black: #141b25;
$accent-black-blur: #141b25b0;
$accent-black-medium: #1f2431;
$accent-black-hard: #0e1319;
$accent-red-hard: #cc0537;
$accent-orange-hard: #ce1b00;
$accent-blue-hard: #0090c5;

$font-white: #ffffff;
$font-grey: #dbe2f9;

$bx-accent-green: 0 4px 4px rgba($accent-green, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
