@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$desktop: 1024px;
$mobile: 480px;

$default-font: 'Ubuntu', sans-serif;

$accent-green: #89e159;
$accent-black: #141b25;
$accent-grey: #bfc6dc;

$font-white: #ffffff;
$font-grey: #dbe2f9;

$dark-accent-green: darken($accent-green, 20%);
$hard-dark-accent-green: darken($accent-green, 30%);

$bx-accent-green: 0 4px 4px rgba($accent-green, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
