@import 'src/assets/styles/variables';

.wrapper {
	text-align: center;
}

.button {
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: pointer;

	padding: 14px 46px;
	color: #1f2431;
	background-color: $accent-green;

	font-family: $default-font;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;

	transition: color 0.25s ease;

	&:hover {
		color: $accent-green;
		background-color: $accent-black;
		outline: 2px solid $accent-green;
		box-shadow: 0px 0px 8px 4px $accent-green;
	}
}

.blocked {
	cursor: not-allowed;
	color: #dbe2f9;
	border: 1px solid #dbe2f9;
	background: $accent-black-medium;
}
